/* Section3 CSS file */

a {
    -webkit-transition: .3s all;
    transition: .3s all;
    color: #1a57a5;
  }
  
  a:hover, a:focus, a:active {
    color: #174b8f;
    text-decoration: none;
  }

  /* section */

  .probootstrap-section {
    padding: 7em 0;
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    .probootstrap-section {
      padding: 4em 0;
    }
  }
  
  .probootstrap-section.probootstrap-bg-light {
    background: #D6E6F2;
  }
  
  .probootstrap-section.probootstrap-cta {
    background: #1a57a5;
    color: #ffffff;
    padding: 3em 0;
  }
  
  .probootstrap-section.probootstrap-cta *:last-child {
    margin-bottom: 0;
  }
  
  .probootstrap-section.probootstrap-cta .probootstrap-heading {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .probootstrap-section.probootstrap-cta .probootstrap-sub-heading {
    color: rgba(255, 255, 255, 0.7);
  }

/* Button */

.btn {
    border-radius: 0;
    font-size: 16px;
    padding: 10px 40px;
  }
  
  .btn.btn-primary {
    background: #1a57a5;
  }
  
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    background: #103463;
  }

/* form */
.probootstrap-form {
    margin-bottom: 0px;
    padding: 40px;
    background: #ffffff;
    margin-bottom: 50px;
  }
  
  @media screen and (max-width: 768px) {
    .probootstrap-form {
      padding: 15px;
    }
  }
  
  .probootstrap-form label {
    font-weight: normal;
  }
  
  .probootstrap-form .form-control {
    height: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #d9d9d9;
  }
  
  .probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #1a57a5;
  }
  
  .probootstrap-form .form-group:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .probootstrap-form .form-group label {
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .probootstrap-form .form-group .form-field {
    position: relative;
  }
  
  .probootstrap-form .form-group .form-field .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
  }
  
  .probootstrap-form .form-group .form-field .form-control {
    padding-right: 50px;
  }
  
  .probootstrap-form textarea.form-control {
    height: inherit;
    resize: vertical;
  }

  .probootstrap-contact-details {
    padding: 0;
    margin: 0;
  }
  
  .probootstrap-contact-details li {
    padding: 0;
    margin: 0 0 30px 0;
    list-style: none;
  }
  
  .probootstrap-contact-details li > span {
    display: block;
    color: rgba(0, 0, 0, 0.3);
  }

  .mt0 {
    margin-top: 0px !important;
  }

  .text-black {
    color: #000000 !important;
  }