/* edutech css file */

.main {
    border: 1px strong black;
    background-color: white;
    text-align: center;
}
/* h1, p{
    background-color: white;
} */

.namibtn {
    background-color: #1a57a5;
}