/* Section CSS FIle */

h2, h3, p, ul {
    margin-bottom: 30px;
}
  
a {
    -webkit-transition: .3s all;
    transition: .3s all;
    color: #1a57a5;
}
  
a:hover, a:focus, a:active {
    color: #174b8f;
    text-decoration: none;
}

.probootstrap-section {
    padding: 7em 0;
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    .probootstrap-section {
      padding: 4em 0;
    }
  }
  
  .probootstrap-section.probootstrap-bg-light {
    background: #D6E6F2;
  }
  
  .probootstrap-section.probootstrap-cta {
    background: #1a57a5;
    color: #ffffff;
    padding: 3em 0;
  }
  
  .probootstrap-section.probootstrap-cta *:last-child {
    margin-bottom: 0;
  }
  
  .probootstrap-section.probootstrap-cta .probootstrap-heading {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .probootstrap-section.probootstrap-cta .probootstrap-sub-heading {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .probootstrap-section-heading .probootstrap-heading {
    font-size: 50px;
    line-height: 1.45;
    position: relative;
    padding-bottom: 30px;
  }
  
  .probootstrap-section-heading .probootstrap-heading:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 2px;
    background: #1a57a5;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  @media screen and (max-width: 768px) {
    .probootstrap-section-heading .probootstrap-heading {
      font-size: 40px;
    }
  }
  
  .probootstrap-section-heading .probootstrap-heading-2 {
    line-height: 1.45;
    font-size: 36px;
  }
  
  @media screen and (max-width: 768px) {
    .probootstrap-section-heading .probootstrap-heading-2 {
      font-size: 24px;
    }
  }
  
  .probootstrap-shadow {
    -webkit-box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.15);
  }

  .probootstrap-list {
    padding: 0;
    margin: 0;
  }
  
  .probootstrap-list li {
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    list-style: none;
  }
  
  .probootstrap-list li:before {
    font-family: 'icomoon';
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: .3em;
    left: 0;
  }
  
  .probootstrap-list li.probootstrap-check {
    padding-left: 30px;
  }
  
  .probootstrap-list li.probootstrap-check:before {
    color: #1a57a5;
    font-size: 16px;
    content: "\eb91";
  }

  /* .probootstrap-animate {
    opacity: 0;
    visibility: hidden;
  } */

  .mb30 {
    margin-bottom: 30px !important;
  }

  .mb100 {
      margin-bottom: 100px !important;
  }

  .text-black {
    color: #000000 !important;
  }

  .text-primary {
    color: #1a57a5 !important;
  }

  @media screen and (max-width: 768px) {
    .img-sm-responsive {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .img-xs-responsive {
      max-width: 100%;
    }
  }

  img {
    image-orientation: from-image;
  }